:root.easter-theme {
  /* Colors */
  --background: #b46df6;

  --super-nav: #943ce7;
  --super-nav-mobile: #943ce7;

  --word: #ffffff;

  --black: #222;
  --white: #fff;

  --gray: #ddd;

  --tt-cm: rgb(90, 0, 150);
  --tt-td: #d8c99bff;
  --tt-tp: rgb(103, 5, 122);
  --tt-proj: #bd632fff;
  --tt-exam: #273e47ff;
  --tt-other: rgb(204, 2, 255);
}
