@font-face {
    font-family: "primary";
    src: url('fonts/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
    font-family: "primary italic";
    src: url('fonts/RobotoMono-Italic-VariableFont_wght.ttf');
}

:root {
    font-family: 'primary', monospace;

    --main-bg: #DDD;
    --block-bg: #FFF;

    --link-blue: #0080FF;

    /* Font sizes */ 
    --fs-1: 16pt;
    --fs-2: 20pt;
    --fs-3: 24pt;
    --fs-4: 32pt;
}

html, body {
    height: 100%;
    margin: 0;
    /*background-color: var(--main-bg);*/

    font-size: var(--fs-1);
    line-height: 140%;
}

a {
    color: var(--link-blue)
}

p {
    margin: 16px 0;
}

.shadow {
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.2);
}